<!DOCTYPE html>
<html>
<head>
  <title>Tttt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h2>Instagram</h2>
  </header>

  <footer>
    フッター
  </footer>
  
<%= yield %>
</body>
</html>
